{% extends 'main.html' %}
{% block content %}

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

    }

</style>

<h1>{{user.username}} profile</h1>

<!-- {% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" alt="Profile Image" style="width: 150px; height: 150px; border-radius: 50%;">
{% else %}
    <p>No profile image available.</p>
{% endif %} -->

<div class = "profile-container">

    <div>
         {% include "base/topic_component.html" %}
    </div>

    <div>
        {% include "base/room_info_component.html" %}
        
    </div>
         
    <div>
        {% include "base/activity_component.html" %}
    </div>

</div>












{% endblock content %}