<div>
            {% for room in rooms %}
            <div>

                {% if request.user == room.host %}
                <a href="{% url 'update_room' room.id %}">Edit</a>
                <a href="{% url 'delete_room' room.id %}">Delete</a>
                {% endif%}

                <a href="{% url 'profile'  user.id %}">@{{room.host.username}}</a>
                <hr>
                <h5>{{ room.id }} —<a href="{% url 'room' room.id %}"> {{room.name }}</h5></a>
                <small>{{room.topic.name}}</small> 
            </div>
            {% endfor %}

        </div>